<h1><%= @band.name %></h1>

<h3>Albums</h3>
<ul>
<% @band.albums.each do |album| %>
  <li> <%= link_to "#{album.title}", album_url(album) %> </li>
<% end %>
</ul>

<%= link_to "Add Album", new_band_album_url(@band) %>
<br>
<%= link_to "Edit Band", edit_band_url(@band) %>
<br>
<%= button_to "Delete Band", band_url(@band), method: :delete %>
